       .agenda-container {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            max-width: 400px;
            width: 100%;
            background: #222;
        }
        .agenda-title {
            color: #fff;
            font-size: 24px;
            margin-bottom: 20px;
        }
        .agenda-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        .agenda-item {
            background-color: #e6f7ff;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 4px;
            text-align: left;
        }
        .agenda-item:last-child {
            margin-bottom: 0;
        }
        .agenda-name {
            font-weight: bold;
        }
        .agenda-note {
            font-size: 15px;
            color: #483;
            text-align: left;
        }
        .agenda-time {
            font-size: 12px;
            color: #fff;
            text-align: left;
        }
        .accabout {
            -webkit-text-stroke: 1px #d41a773d;
            background: linear-gradient(to top right, #fab6e7, #d41a77 80%);
            background-clip: text;
            text-align: center;
        }
        .tokx {
            font-size: 14px;
            color: #555;
            text-align: center;
        }
        .pokscon, .pokscon span {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .pokscon {
            color: #fff;
            gap: 10px;
            }
        .pokscon span {
            width: 50px;
            height: 50px;
            border-radius: 5px;
            background-color: #000;
            }
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}

        .text-bounce {
         font-size: 22px;
         font-family: sans-serif;
         color: #black;
         text-align: center;
        }
        .text-bounce span:nth-child(1) {
        animation: bounce .7s;
        display: inline-block;
        }
        .text-bounce span:nth-child(2) {
         animation: bounce .8s;
         display: inline-block;
        }
        .text-bounce span:nth-child(3) {
         animation: bounce 1s;
         display: inline-block;
        }
        .text-bounce span:nth-child(4) {
         animation: bounce 1.3s;
         display: inline-block;
        }
        .text-bounce span:nth-child(5) {
         animation: bounce 1.2s;
         display: inline-block;
         }

        @keyframes bounce {
        0% {
        opacity: 0;
        transform: translateY(-100%);
        }
        5% {
        opacity: 1;
        }
        50% (
         transform: translateY(50%);
         animation-timing-function: cubic-bezier (0.5, 0, 0, 0.1);
        }
       100% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0.2, 0, 0, 0);
         }
        }
